  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  /* demo styles
  --------------------------------------------- */

* {
    margin:0;
    padding:0;
  }

body, html {
    overflow: hidden;
  }

body {
    font: 100% / 1.5;
    font-family: 'Open Sans', sans-serif;
  }

.parallax {
    font-size: 200%;
  }

   /* centers the content in the parallax layers */
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

h3 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 80%);
    font-size: 16px;
  }

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: #dfd49e;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background-color: beige;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: #dfd49e;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background-color: beige;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: #dfd49e;
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background-color: beige;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    background: #dfd49e;
  }

/* Add Style to Elements
--------------------------------------------- */

header {
    text-align: center;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.title {
    color: white;
    background-color: #36a28a;
    width: 100%;
    line-height: 50px;
}

h1 {
    color: white;
    background-color: #36a28a;
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    position: absolute;
    top: 0;
    left: 45px;
    float: left;
    width: 103px;
    height: 95px;
    margin: 0;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-color: beige;
    vertical-align: middle;
    padding-top: 30px;
    font-size: 60px;
    font-family: 'Shadows Into Light Two', cursive;
}

h3 {
    color: white;
    background-color: #bfa440;
    width: 100%;
    line-height: 30px;
}

ul {
  margin-left: 150px;
}

li {
    list-style-type: none;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
}

/* Banners 100%
--------------------------------------------- */

#site1 {
    top: 45%;
}

#site2 {
    top: 55%;
}

#passion {
    top: 40%;
}

#question {
    top: 45%;
}

#monTravail {
    top: 35%;
}

/* Banner Quotation
--------------------------------------------- */

.quote {
    background-color: white;
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quote-content {
    display: inline-block;
    width: 100%;
}

/* Qualities
--------------------------------------------- */

.qualityAll {
    background-color: #bfa440;
    color: white;
    text-align: center;
    font-size: 0.75em;
    line-height: 150px;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* Images
--------------------------------------------- */
.photoGroup {
    padding: 40px;
    clear: left;
    float: left;
    position: relative;
    left: 50%;
}

#profilePhoto {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 45px;
    display: block;
    float: left;
    position: relative;
    right: 70%;
    top: 30px;
}

.balloon1 {
    float: right;
    padding: 25px;
    width: 100px;
    height: 100px;
}

.balloon2 {
    padding: 25px;
    width: 100px;
    height: 100px;
}

.speechLeft {
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(speech-left1.png);
    background-size: cover;
    display: inline-block;
    margin: 10%;
    padding: 20px;
}

.speechRight {
    float: right;
    width: 150px;
    height: 150px;
    background-image: url(speech-right1.png);
    background-size: cover;
    display: inline-block;
    margin: 20% 10%;
    padding: 20px;
}

.speechLeft2 {
    float: left;
    width: 115px;
    height: 115px;
    background-image: url(speech-left2.png);
    background-size: cover;
    display: inline-block;
    margin: 10%;
    padding: 20px;
}

.lang-wrap {
    margin: 160px 40px;
    display: inline-block;
    width: 70%;
}

.langAll {
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 10px;
}

#lang1-html {background-image: url(HTML-badge.png);}

#lang2-html {background-image: url(CSS-badge.png);}

#lang3-html {background-image: url(JS-badge.png);}

#lang4-html {background-image: url(PHP-badge.png);}

#lang5-html {background-image: url(Ruby-badge.png);}

#lang6-html {background-image: url(Java-badge.png);}

/* Link Style
--------------------------------------------- */

a:unvisited {
    color:black;
}

a:visited {
    color:black;
}

div.qualityAll:hover {
    background-color: #36a28a;
}

/* Footer
--------------------------------------------- */
footer {
    font-size: 12px;
    text-align: right;
    background-color: beige;
}

/* Media Screen
--------------------------------------------- */

@media screen and (max-width: 625px) {
    
    nav {display: none;}
    .photoGroup {display: none;}
    #profilePhoto {display: none;}
    .speechRight{width: 105px; height: 105px;}
    
    .lang-wrap {
        position: absolute;
        top: 160px;
        width: 100%;
        margin: 0;
        display: table-column;
    }
    
    .langAll {
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        margin: 10px;
        padding: 10px;
    }
    
    .qualityAll {
        font-size: 0.32em;
        line-height: 60px;
        width: 55px;
        height: 55px;
        display: inline-block;
        margin: 4px;
        padding: 14px;
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 9000px) {
    
}
